* {
  box-sizing: border-box;
}

body {
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #113258;
}

canvas {
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
}

.controllers {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
  margin: 0 auto;
  list-style-type: none;
  width: 100%;
  padding: 0;
  bottom: 1%;
  position: fixed;
}

.btn {
  margin: 0;
  display: flex;
  padding: 5%;
  width: 30%;
  text-align: center;
  min-width: 40px;
}

@media screen and (min-width: 700px) {
  canvas {
    max-width: 550px;
  }

  .controllers {
    max-width: 600px;
    display:none;
  }
}
