body {
    text-align: center;
}

.controllers {
  display: flex;
  margin: 0 auto;
  list-style-type: none;
  max-width: 400px;
  width: 100%;
  background-color: red;
}

.btn {
  margin: 20px;
  width: 25%;
  text-align: center;
  background-color: blue;
}
